.header-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  height: 50px;
  border-radius: 6px;
  background-color: #545454;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-title {
  cursor: pointer;
  padding: 20px;
  color: #a6a6a6;
  font-weight: bold;
  text-shadow: 3px 1px 3px #000000;
}

.nav-title:hover {
  color: #d9d9d9;
}

.nav-header {
  font-size: 4rem;
  font-weight: bolder;
  color: #d9d9d9;
  text-shadow: 5px 1px 5px #000000;
}

.divider {
  width: 4px;
  border-radius: 6px;
  height: 55%;
  background-color: #242423;
}

.active {
  color: #d9d9d9;
}

.last {
  margin-right: 20px;
}
