.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15vh;
  margin-top: 5vh;
  margin-left: 5vw;
}

input {
  padding: 4px 25px;
  font-size: 1.5rem;
  color: #a6a6a6;
  font-weight: bold;
  text-shadow: 3px 1px 3px #000000;
  border: 1px solid #4c4c4c;
  border-radius: 6px;
  background-color: #545454;
}

h2 {
  font-size: 2rem;
  color: #d9d9d9;
  font-weight: bold;
  text-shadow: 3px 1px 3px #000000;
}

.result {
  font-size: 1.5rem;
  color: #a6a6a6;
  font-weight: bold;
  text-shadow: 3px 1px 3px #000000;
}

.result-ctn {
  margin: auto;
  padding: 2px 20px;
  width: fit-content;
  background-color: #242423;
  border-radius: 6px;
  margin-bottom: 1vh;
}

.calendar-container {
  margin-left: 10vw;
}