<div class="col-4 col-s-12">
  <div class="container">
    <h2>Public IT holidays are automatically subtract from the calculation.</h2>
    <br />
    <form [formGroup]="workingDaysForm" (ngSubmit)="onSubmit()">
      <div>
        <input type="date" id="initialDate" formControlName="initialDate" />
      </div>
      <br />
      <div>
        <input type="date" id="finalDate" formControlName="finalDate" />
      </div>
      <br />
      <button class="btn btn-primary">Calculate</button>
    </form>
    <br />
    <div class="result" *ngIf="isCountVisible">
      <h3>Working days calculated:</h3>
      <h1>{{ calculatedDays }}</h1>
    </div>
  </div>
</div>

<div class="col-8 col-s-12">
  <div class="container">
    <app-calendar></app-calendar>
  </div>
</div>
