<div class="row main-content">
  <div class="col-3">
    <p class="container">Public IT holidays are automatically subtract from the calculation.</p>
  </div>

  <div class="col-6">
    <form
      class="main-content"
      [formGroup]="workingDaysForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <input type="date" id="initialDate" formControlName="initialDate" />
      </div>
      <br />
      <div>
        <input type="date" id="finalDate" formControlName="finalDate" />
      </div>
      <br />
      <button class="btn btn-primary">Calculate</button>
    </form>

    <div class="result" *ngIf="isCountVisible">
      <h3>Working days calculated:</h3>
      <h1>{{ calculatedDays }}</h1>
    </div>
  </div>

  <div class="col-3"></div>
</div>
