<div class="container">
  <table>
    <tr>
      <th class="table-header">Mon</th>
      <th class="table-header">Tue</th>
      <th class="table-header">Wed</th>
      <th class="table-header">Thu</th>
      <th class="table-header">Fri</th>
      <th class="table-header">Sat</th>
      <th class="table-header">Sun</th>
    </tr>

    <tr *ngFor="let week of visibleDays">
      <td
        [ngClass]="[
          'table-cell',
          todayPredicate(day),
          holidayPredicate(day),
          offsetPredicate(day),
          nonWorkingPredicate(day)
        ]"
        *ngFor="let day of week"
      >
        <div class="outerbox">
          <div class="box">
            {{ day.getMonth() != visibleDate.getMonth() ? "" : day.getDate() }}
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
