<div class="container">
  <table>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
    <tr *ngFor="let week of visibleDays">
      <td
        [ngClass]="[
          todayPredicate(day),
          holidayPredicate(day),
          offsetPredicate(day),
          nonWorkingPredicate(day)
        ]"
        *ngFor="let day of week"
      >
        {{ day.getDate() }}
      </td>
    </tr>
  </table>
</div>
