.container {
  margin-top: 20px;
  font-size: 1.2rem;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  text-align: center;
  padding: 10px;
}

.offset {
  color: gray;
  font-weight: 100;
}

.today {
  background-color: #d9e1cc;
  
}

.holiday {
  color: red !important;
  font-weight: 600 !important;
}

.non-working {
  background-color: #d0d0d0;
}
