.container {
  margin-top: 20px;
  font-size: x-large;
}

table {
  width: 100%;
  max-width: 500px;
}

th {
  font-size: xx-large;
  font-weight: bold;
}

td {
  font-size: x-large;
  font-weight: 600;
}

.table-cell {
  text-align: center;
  padding: 10px;
}

.offset {
  color: gray;
  font-weight: 100;
}
