* {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", "sans-seriff";
}

.btn {
  font-size: x-large;
  border: none;
  border-radius: none;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background: black;
  padding: 16px 32px;
}

.btn-primary:hover {
  background: #4c4c4c;
}
